$color-main: #6e6d84;
$color-red: #d86058;
$color-white: #fafafd;
$color-green: #65d5a3;
$color-purple: #7573fe;
$color-accent: #c8c7d8;

$bg-main: #181825;
$bg-accent: #12121a;
$bg-light: #29293a;
$bg-hover: #2d2d43;
$bg-active: #101018;
$bg-line: #303045;
$bg-purple: #7370ff;

$border-purple: #9492ff;
$border-green: #65d5a3;
